
<div ng-cloak class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">Keeleliin</h1>
        </div>
        <h3>Eesti Keeleressursside Keskuse infosüsteem</h3>
        <p>Keeleliini infosüsteemi sisselogimiseks tuleb ennast autoriseerida läbi ENTU.
        </p>
        <div class="m-t" role="form" action="#">
            <button class="btn btn-primary btn-lg block full-width m-b" ng-click="startAuthentication()">
                Logi sisse
            </button>
        </div>
        <p class="m-t">
            <small>Eesti Keeleressursside Keskus &copy; 2015</small>
            <a href="mailto:{{admin_email}}?Subject=Keeleliin" target="_top">{{admin_email}}</a>
        </p>
    </div>
</div>