<div class="modal-header">
    <h4 class="modal-title">Uus projekt</h4>
</div>
<div class="modal-body">
    <div class="row">

        <div ng-show="projectForm.$invalid && projectForm.submitted" class="alert alert-danger" role="alert">Vormi valideerimisel tekkisid vead!</div>

        <p>Lisa projektile nimetus, kirjeldus ja määra privaatsussätted.</p>
        <form name="projectForm" role="form" novalidate>
            <div ng-class="{'has-error': projectForm.name.$invalid && projectForm.submitted,  'form-group': true}">
                <label class="control-label">Nimetus</label>
                <input name="name" type="text" ng-model="project.name" placeholder="Projekti nimetus" class="form-control" required>
                <i ng-show="projectForm.name.$error.required && projectForm.submitted">Väli on nõutud</i>
            </div>
            <div ng-class="{'has-error': projectForm.description.$invalid && projectForm.submitted,  'form-group': true}">
                <label class="control-label">Kirjeldus</label>
                <textarea name="description" ng-model="project.description" placeholder="Projekti kirjeldus" class="form-control" required></textarea>
                <i ng-show="projectForm.description.$error.required && projectForm.submitted">Väli on nõutud</i>
            </div>
            <div class="form-group clearfix">
                <label>Privaatsussätted</label>
                <div class="col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" ng-model="project.accessStatus" name="accessStatus" value="private"> Privaatne
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="project.accessStatus" name="accessStatus" value="shared"> Jagatud
                    </label>
                </div>
            </div>
            <div ng-show="projectForm.accessStatus.$viewValue == 'shared'" class="form-group">
                <select
                        multiple
                        chosen
                        name="users"
                        class="chosen-select m-t-md"
                        style="width:100%;"
                        tabindex="4"
                        data-placeholder="Vali kasutaja"
                        ng-model="project.users"
                        ng-options="user.id as user.name for user in usersList">
                </select>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$dismiss()">Katkesta</button>
    <input type="submit" class="btn btn-primary btn-sm" ng-click="addOk(project, projectForm)" value="Loo projekt" />
</div>
