<div class="modal-header">
    <h4 class="modal-title">Projekti kustutamine</h4>
</div>
<div class="modal-body">
    <div class="row">
        <p>Kas Sa oled kindel, et soovid kustutada projekti <b>"{{project.name}}"?</b> Projekti kustutamisega kustutatakse ka kõik projekti seosed ja failid.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$close()">Katkesta</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="confirmOk()">Kustuta projekt</button>
</div>
