<div kl-breadcrumb></div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lisatud failid</h5>
                </div>
                <div class="ibox-content">
                    <div class="file-manager">
                        <div filetree project-id="{{projectId}}"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-footer text-right ng-scope">
                    <a ui-sref="project-item({projectId: projectId})" class="btn btn-primary btn-sm pull-left">
                        <i class="fa fa-caret-left"></i> Tagasi projekti juurde
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 animated fadeInRight">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" data-target="#tab-upload" aria-expanded="true"> Lae üles </a></li>
                    <li class=""><a data-toggle="tab" data-target="#tab-local" aria-expanded="false">Olemasolevad</a></li>
                    <li class=""><a data-toggle="tab" data-target="#tab-entu" aria-expanded="false">Lae Entust</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-upload" class="tab-pane active">
                        <div class="panel-body">

                            <div class="form-group">
                                <form action="" class="dropzone" drop-zone="" >
                                    <div class="dz-message" data-dz-message>
                                        <span>Lohista failid siia või vali arvutist</span>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group text-right">
                                <a ng-click="startUpload()" class="btn btn-primary btn-sm">
                                    <i class="fa fa-upload"></i> Lae üles failid
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-local" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="file-manager">
                                    <div filetree checkbox="true" get-selected="getSelectedResources"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a ng-click="addExistingResources()" class="btn btn-primary btn-sm">
                                    <i class="fa fa-plus"></i> Lisa valitud failid
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-entu" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="file-manager">
                                    <div entutree checkbox="true" get-selected="getSelectedEntuResources"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <a kl-save-button
                                   processing="{{!entuLoadEnabled}}"
                                   enabled="{{entuLoadEnabled}}"
                                   messages="Lae:Laadimine:Laetud"
                                   class="btn btn-primary btn-sm"
                                   ng-click="addExistingEntuResources()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>