<div kl-breadcrumb></div>

<div class="wrapper wrapper-content animated fadeInUp ng-scope">
    <div class="ibox">
        <div class="ibox-content">
            <div ng-show="message" class="alert alert-success">{{message}}</div>
            <form class="form-horizontal" id="userForm" name="userForm">
                <fieldset>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kasutaja pilt:</label>
                        <div class="col-sm-5">
                            <img alt="image" class="img-circle" ng-src="{{user.displaypicture && user.displaypicture || assets/img/profile.jpg }}" style="width:70px; height: 70px;" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kasutaja nimi:</label>
                        <div class="col-sm-5">
                            <input ng-model="user.name" class="form-control" name="name" placeholder="Nimi" disabled="disabled" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">E-mail:</label>
                        <div class="col-sm-5">
                            <input ng-model="user.email" class="form-control" name="email" placeholder="E-mail" disabled="disabled" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Roll:</label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-model="user.role" name="role" required="required">
                                <option ng-repeat="role in roles" value="{{role}}">{{role | translate}}</option>
                            </select>
                            <div ng-show="form.$submitted || form.uEmail.$touched">
                                <span ng-show="userForm.role.$error.required">Role is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kettamahu piirang:</label>
                        <div class="col-sm-5">
                            <input ng-model="user.discMax" class="form-control" name="discMax" placeholder="Ketta mahu piirang baitides" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ketast kasutuses:</label>
                        <div class="col-sm-5">
                            <input ng-model="user.discCurrent" class="form-control" name="discCurrent" placeholder="Ketta mahu piirang baitides" disabled="disabled" type="text">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="ibox-footer text-right ng-scope">
            <a ui-sref="users" class="btn btn-sm btn-link pull-left">
                <i class="fa fa-caret-left"></i> Tagasi kasutajate nimekirja
            </a>
            <a class="btn btn-white btn-sm" ng-click="reset(userForm)">Katkesta</a>

            <a kl-save-button
               enabled="{{userForm.$dirty}}"
               processing="{{savingUser}}"
               messages="Salvesta:Salvestan:Salvestatud"
               class="btn btn-primary btn-sm"
               ng-click="update(user, userForm)"></a>

        </div>
    </div>
</div>
