<div kl-breadcrumb></div>

<div class="row">
    <form name="serviceForm" role="form" novalidate>
        <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox">
            <div class="ibox-content">

                <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                <div ng-show="successMessage" class="alert alert-success">{{successMessage}}</div>

                <fieldset class="form-horizontal">
                    <div class="form-group" ng-class="{'has-error': serviceForm.name.$invalid && serviceForm.submitted }">
                        <label class="col-sm-2 control-label">Nimetus*:</label>
                        <div class="col-sm-10">
                            <input name="name" ng-model="service.name" type="text" class="form-control" placeholder="Teenuse nimetus" required>
                            <i ng-show="serviceForm.name.$error.required && serviceForm.submitted">Väli on nõutud</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Kirjeldus:</label>
                        <div class="col-sm-10">
                            <textarea name="description" ng-model="service.description" class="form-control" placeholder="Teenuse kirjeldus"></textarea>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': serviceForm.url.$invalid && serviceForm.submitted }">
                        <label class="col-sm-2 control-label">Teenuse URL*:</label>
                        <div class="col-sm-10">
                            <input name="url" ng-model="service.url" type="text" class="form-control" placeholder="Teenuse URL" required>
                            <i ng-show="serviceForm.url.$error.required && serviceForm.submitted">Väli on nõutud</i>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': serviceForm.sid.$invalid && serviceForm.submitted }">
                        <label class="col-sm-2 control-label">Lühinimi*:</label>
                        <div class="col-sm-4">
                            <input name="sid" ng-model="service.sid" type="text" class="form-control" placeholder="Lühinimi" required>
                            <i ng-show="serviceForm.sid.$error.required && serviceForm.submitted">Väli on nõutud</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sünkroonne:</label>
                        <div class="col-sm-4">
                            <input icheck type="checkbox" name="isSynchronous" ng-model="service.isSynchronous" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Aktiveeritud:</label>
                        <div class="col-sm-4">
                            <input icheck type="checkbox" name="isActive" ng-model="service.isActive"  >
                        </div>
                    </div>

                    <div class="form-group" ng-show="servicesList">
                        <label class="col-sm-2 control-label">Eelnevad teenused:</label>
                        <div class="col-sm-10">
                            <select
                                    multiple
                                    chosen
                                    ng-model="service.parentServices"
                                    name="previousServices"
                                    class="chosen-select m-t-md form-control"
                                    style="width:100%;"
                                    tabindex="4"
                                    data-placeholder="Määra võimalikud teenused"
                                    ng-options="item.id as item.name for item in servicesList"
                                    >
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="servicesList">
                        <label class="col-sm-2 control-label">Järgnevad teenused:</label>
                        <div class="col-sm-10">
                            <select
                                    multiple
                                    chosen
                                    ng-model="service.childServices"
                                    name="nextServices"
                                    class="chosen-select m-t-md form-control"
                                    style="width:100%;"
                                    tabindex="4"
                                    data-placeholder="Määra võimalikud teenused"
                                    ng-options="item.id as item.name for item in servicesList"
                                    >
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Parameetrid :</label>
                        <div class="col-sm-8">
                            <button ng-click="addServiceParam()" class="btn btn-white"><i class="fa fa-plus"></i> Lisa parameeter</button>
                            <div class="table-responsive m-t-sm">
                                <table class="table table-bordered table-stripped">
                                    <thead>
                                    <tr>
                                        <th width="100px">
                                            Tüüp
                                        </th>
                                        <th>
                                            Kirjeldus
                                        </th>
                                        <th>
                                            Võti
                                        </th>
                                        <th>Väärtus</th>
                                        <th width="60">
                                            Muudetav
                                        </th>
                                        <th width="30"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="serviceParam in service.serviceParams" ng-form name="parameterForm">
                                        <td ng-class="{ 'has-error' : parameterForm.type.$invalid && serviceForm.submitted }">
                                            <select name="type" ng-model="serviceParam.type" class="form-control input-sm" required>
                                                <option value="select">Valik</option>
                                                <option value="text">Tekst</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input name="description" ng-model="serviceParam.description" type="text" class="form-control input-sm" placeholder="Kirjeldus">
                                        </td>
                                        <td ng-class="{ 'has-error' : parameterForm.key.$invalid && serviceForm.submitted }">
                                            <input name="key" ng-model="serviceParam.key" type="text" class="form-control" placeholder="Võti" required>
                                        </td>
                                        <td>
                                            <div ng-if="serviceParam.type == 'text'">
                                                <input name="value" ng-model="serviceParam.value" type="text" class="form-control" placeholder="Väärtus">
                                            </div>
                                            <div ng-if="serviceParam.type == 'select'">

                                                <div class="row m-b-sm">
                                                    <div class="col-md-10 p-r-none">
                                                        <input name="value" ng-model="serviceParam.value" type="text" class="form-control" placeholder="Väärtus">
                                                    </div>
                                                    <div class="col-md-1">
                                                        <a ng-click="addParamOption(serviceParam)" href="" class="btn btn-white btn-sm" title="Lisa valik">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div ng-repeat="(optionIndex, option) in serviceParam.paramOptions" class="row m-b-sm" ng-form name="optionForm">
                                                    <div class="col-md-5 p-r-none" ng-class="{ 'has-error' : optionForm.value.$invalid && serviceForm.submitted }">
                                                        <input name="value" ng-model="option.value" type="text" placeholder="Väärtus" class="form-control" required>
                                                    </div>
                                                    <div class="col-md-5 p-r-none" ng-class="{ 'has-error' : optionForm.label.$invalid && serviceForm.submitted }">
                                                        <input name="label" ng-model="option.label" type="text" placeholder="Nimetus" class="form-control" required>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a ng-click="removeParamOption(serviceParam, optionIndex)" href="" class="btn btn-white btn-sm" title="Kustuta valik"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input name="isEditable" ng-model="serviceParam.isEditable" icheck type="checkbox" />
                                        </td>
                                        <td>
                                            <button ng-click="removeServiceParam($index)" class="btn btn-white btn-sm" title="Kustuta parameeter">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': serviceForm.inputTypesLength.$invalid && serviceForm.submitted }">
                        <input ng-show="false" name="inputTypesLength" ng-model="service.serviceInputTypes.length" type="number" min=1  />
                        <label class="col-sm-2 control-label">Sisendressursid*:</label>
                        <div class="col-sm-8">
                            <button ng-click="addServiceInputType()" class="btn btn-white"><i class="fa fa-plus"></i> Lisa sisendi tüüp</button>
                            <div class="table-responsive m-t-sm">
                                <table class="table table-bordered table-stripped">
                                    <thead>
                                        <tr>
                                            <th width="100px">
                                                Võti
                                            </th>
                                            <th>
                                                Ressursi tüüp
                                            </th>
                                            <th width="30"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="inputType in service.serviceInputTypes" ng-form name="inputTypeForm">
                                            <td ng-class="{ 'has-error' : inputTypeForm.key.$invalid && serviceForm.submitted }">
                                                <input name="key" ng-model="inputType.key" type="text" class="form-control" placeholder="Võti" required>
                                            </td>
                                            <td>
                                                <div class=" m-b-sm " ng-class="{ 'has-error' : inputTypeForm.type.$invalid && serviceForm.submitted }">
                                                    <select
                                                            name="type"
                                                            ng-model="inputType.resourceTypeId"
                                                            class="form-control input-sm"
                                                            ng-options="resourceType.id as resourceType.name for resourceType in resourceTypes"
                                                            ng-change="inputResourceTypeUpdated( inputType )"
                                                            required
                                                            >
                                                    </select>
                                                </div>
                                                <div ng-if="canDoParallel(inputType)" class="row m-b-sm">
                                                    <div class="col-md-12 m-b-sm">
                                                        <input name="doParallel" ng-model="inputType.doParallel" icheck type="checkbox" /> Tee paraleelseks
                                                    </div>
                                                    <div ng-if="inputType.doParallel">
                                                        <div class="col-md-6 p-r-none" ng-class="{ 'has-error' : inputTypeForm.sizeLimit.$invalid && serviceForm.submitted }">
                                                            <input name="sizeLimit" ng-model="inputType.sizeLimit" type="text" ngPattern pattern="^[0-9]*$" placeholder="Suuruse piir" class="form-control input-sm" required>
                                                            <i ng-if="inputTypeForm.sizeLimit.$error.pattern && serviceForm.submitted">Tegemist ei ole numbrilise väärtusega</i>
                                                        </div>
                                                        <div class="col-md-6" ng-class="{ 'has-error' : inputTypeForm.sizeUnit.$invalid && serviceForm.submitted }">
                                                            <select name="sizeUnit" ng-model="inputType.sizeUnit" class="form-control input-sm" required>
                                                                <option value="byte">Baiti</option>
                                                                <option value="line">Rida</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button ng-click="removeServiceInputType($index)" class="btn btn-white btn-sm" title="Kustuta sisendi tüüp">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error': serviceForm.serviceOutputTypes.$invalid && serviceForm.submitted }">
                        <input ng-show="false" name="serviceOutputTypes" ng-model="service.serviceOutputTypes.length" type="number" min=1  />
                        <label class="col-sm-2 control-label">Väljundressursid*:</label>
                        <div class="col-sm-8">
                            <button ng-click="addServiceOutputType()" class="btn btn-white"><i class="fa fa-plus"></i> Lisa väljundi tüüp</button>
                            <div class="table-responsive m-t-sm">
                                <table class="table table-bordered table-stripped">
                                    <thead>
                                    <tr>
                                        <th width="100px">
                                            Võti
                                        </th>
                                        <th>
                                            Ressursi tüüp
                                        </th>
                                        <th width="30"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="outputType in service.serviceOutputTypes" ng-form name="outputTypeForm">
                                        <td ng-class="{ 'has-error' : outputTypeForm.key.$invalid && serviceForm.submitted }">
                                            <input name="key" ng-model="outputType.key" type="text" class="form-control" placeholder="Võti" required />
                                        </td>
                                        <td>
                                            <div class=" m-b-sm " ng-class="{ 'has-error' : outputTypeForm.type.$invalid && serviceForm.submitted }">
                                                <select
                                                        name="type"
                                                        ng-model="outputType.resourceTypeId"
                                                        class="form-control input-sm"
                                                        ng-options="resourceType.id as resourceType.name for resourceType in resourceTypes"
                                                        required >
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button ng-click="removeServiceOutputType($index)" class="btn btn-white btn-sm" title="Kustuta väljundi tüüp">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="ibox-footer text-right ng-scope">
                <a ui-sref="services" class="btn btn-sm btn-link pull-left">
                    <i class="fa fa-caret-left"></i> Tagasi teenuste nimekirja
                </a>
                <a ng-if="service.id" ng-click="deleteService()" class="btn btn-danger btn-sm m-r-lg">
                    <i class="fa fa-trash"></i> Kustuta teenus
                </a>
                <a kl-save-button
                   enabled="{{serviceForm.$dirty}}"
                   processing="{{savingService}}"
                   messages="Salvesta:Salvestan:Salvestatud"
                   class="btn btn-primary btn-sm"
                   ng-click="saveService(serviceForm)"></a>
            </div>
        </div>
    </div>
    </form>
</div>