<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div ng-if="user" class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" ng-src="{{user.displaypicture && user.displaypicture || assets/img/profile.jpg }}" style="width:70px; height: 70px;" />
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs text-xs block">{{user.name}} <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <!--<li><a ui-sref="profile">Minu konto</a></li>
                        <li class="divider"></li>-->
                        <li><a ng-if="user" ng-click="userService.signOut()" href="">Logi välja</a></li>
                    </ul>
                </div>

                <div class="logo-element">
                    KL
                </div>
            </li>

            <li ng-if="user" ng-class="{active: $state.includes('home')}">
                <a ui-sref="home">
                    <i class="fa fa-desktop"></i> <span class="nav-label">Töölaud</span>
                </a>
            </li>
            <li ng-if="user" ng-class="{active: $state.includes('projectState')}">
                <a ui-sref="projects"><i class="fa fa-th-large"></i> <span class="nav-label">Projektid</span>
                    <span class="pull-right label label-primary"></span>
                </a>
            </li>

            <li ng-if="user.role == 'admin'" ng-class="{active : $state.includes('serviceState')}">
                <a ui-sref="services">
                    <i class="fa fa-wrench"></i> <span class="nav-label">Teenuste haldus</span>
                </a>
            </li>
            <li ng-if="user.role == 'admin'" ng-class="{active : $state.includes('resourceTypeState')}">
                <a ui-sref="resource-types">
                    <i class="fa fa-wrench"></i> <span class="nav-label">Ressursi tüüpide haldus</span>
                </a>
            </li>
            <li ng-if="user.role == 'admin'" ng-class="{active : $state.includes('workflowManagementState')}">
                <a ui-sref="workflow-management-list">
                    <i class="fa fa-tasks"></i> <span class="nav-label">Töövoogude haldus</span>
                </a>
            </li>
            <li ng-if="user.role == 'admin'" ng-class="{active : $state.includes('usersState')}">
                <a ui-sref="users">
                    <i class="fa fa-users"></i> <span class="nav-label">Kasutajate haldus</span>
                </a>
            </li>
            <li ng-if="user.role == 'admin'" ng-class="{active : $state.includes('statisticsState')}">
                <a ui-sref="statistics">
                    <i class="fa fa-dashboard"></i> <span class="nav-label">Statistika</span>
                </a>
            </li>


        </ul>
    </div>
</nav>