<div ng-cloak ng-if="isInitFinished && $state.current.role != 'all' && user " class="row border-bottom">

    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <!--<input type="text" placeholder="Otsi" class="form-control" name="top-search" id="top-search">-->
                </div>
            </form>
        </div>
        <ul ng-if="userService.isAuthenticated()" class="nav navbar-top-links navbar-right">
            <li ng-if="notificationsSummary" class="dropdown" dropdown>
                <a class="dropdown-toggle count-info" href dropdown-toggle>
                    <i class="fa fa-bell"></i>
                    <span ng-if="notificationsSummary.notifications.length > 0" class="label label-primary">{{notificationsSummary.total}}</span>
                </a>

                <ul class="dropdown-menu dropdown-alerts">
                    <li ng-if="notificationsSummary.notifications.length == 0">
                        <div class="clearfix">
                            <span class="col-sm-12 p-xxs">
                                <i>Uusi teavitusi ei ole</i>
                            </span>
                        </div>
                    </li>

                    <li ng-if="notificationsSummary.notifications.length > 0" ng-repeat="notification in notificationsSummary.notifications">
                        <a ui-sref="notification-read({notificationId: notification.id})" class="clearfix">
                            <div>
                                <span class="col-sm-7 p-xxs">{{notification.message}}</span>
                                <span class="col-sm-5 text-muted small no-padding text-right" >
                                    <span kl-happened-time="{{notification.createdAt}}"></span>
                                </span>
                            </div>
                        </a>
                        <div class="divider"></div>
                    </li>

                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="notification">
                                <strong>Vaata kõiki teavitusi</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" ng-click="userService.signOut()">
                    <i class="fa fa-sign-out"></i> Logi välja
                </a>
            </li>
        </ul>

    </nav>
</div>