<input ng-show="!hideFileTreeTabs" ng-model="searchKeyword" ng-keyup="searchFile()" id="search-file" class="input-sm form-control" placeholder="Otsi faili">
<div ng-show="!hideFileTreeTabs" class="m-t-sm m-b-md">
    <label class="m-r-sm">Näita:</label>
    <div data-toggle="buttons" class="btn-group">
        <label ng-click="filterFiles()" class="btn btn-sm btn-white active">
            <input type="radio" id="option1" name="options"> Kõiki faile </label>
        <label ng-click="filterFiles('workflow_input')" class="btn btn-sm btn-white">
            <input type="radio" id="option2" name="options"> Sisendfaile </label>
        <label ng-click="filterFiles('workflow_output')" class="btn btn-sm btn-white">
            <input type="radio" id="option3" name="options"> Tulemeid </label>
    </div>
    <a ng-show="false" ng-click="downloadAll()" href="#" class="btn btn-sm btn-link pull-right"><i class="fa fa-download"></i> Lae kõik tulemi failid alla</a>
</div>
<div class="project-tree"
     js-tree="treeConfig"
     ng-model="resources"
     tree="treeInstance"
     tree-events="ready:readyCB;create_node:createNodeCB;delete_node:deleteNodeCB;downloadAction:fileDownloadAction;infoAction:fileInfoAction;deleteAction:fileDeleteAction">
</div>
<div ng-if="!resources || resources.length == 0">
    <i> Ressursid puuduvad </i>
</div>

<style>
    .jstree-open > .jstree-anchor > .fa-folder:before {
        content: "\f07c";
    }
    .jstree-default .jstree-icon.none {
        width: 0;
    }
</style>
