<div class="modal-header">
    <h4 class="modal-title">
        Valitavad ressursid
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="file-manager">
            <div filetree checkbox="true"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$dismiss()">Katkesta</button>
    <a class="btn btn-primary btn-sm" ng-click="addResources()">Lisa valitud failid</a>
</div>
