
<div class="modal-header">
    <h4 class="modal-title">Töövoo lisamine</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="pull-left">
            <select ng-model="filter.order" ng-change="updateList()"
                    data-ng-options="orderByOption as (orderByOption |translate) for orderByOption in definitionOrderByOptions" class="input-sm form-control col-md-1 no-padding">
                <option value="">- Järjesta -</option>
            </select>
        </div>
        <div class="input-group">
            <input ng-keyup="updateList()" ng-model="filter.name" type="text" placeholder="Sisesta töövoo nimetus või märksõna" class="input-sm form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-primary"> Otsi</button>
            </span>
        </div>
        <div class="m-t-sm m-b-md">
            <label class="m-r-sm">Filtreeri:</label>
            <div data-toggle="buttons" class="btn-group">
                <label ng-click="updateType()" class="btn btn-sm btn-white active">
                    <input type="radio" id="option1" name="type"> Kõik
                </label>
                <label ng-click="updateType('public')" class="btn btn-sm btn-white">
                    <input type="radio" id="option2" name="type"> Avalikud
                </label>
                <label ng-click="updateType('private')" class="btn btn-sm btn-white">
                    <input type="radio" id="option3" name="type"> Isiklikud
                </label>
                <label ng-click="updateType('shared')" class="btn btn-sm btn-white">
                    <input type="radio" id="option4" name="type"> Minule jagatud
                </label>
                <label ng-click="updateType('bookmarked')" class="btn btn-sm btn-white">
                    <input type="radio" id="option5" name="type"> Lemmikud
                </label>

            </div>
        </div>

        <div class="panel-group m-t-sm">
            <div ng-if="definitions.length == 0">
                <i>Töövooge ei leitud</i>
            </div>
            <div ng-repeat="definition in definitions" class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title cursor-pointer" data-toggle="collapse" data-target="#flow-{{$index}}">
                        {{definition.name}}
                    </h5>
                </div>
                <div id="flow-{{$index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div bookmark-definition is-bookmarked="definition.isBookmarked" definition-id="definition.id" class="pull-right"></div>

                        <h4 ng-if="definition.description">Kirjeldus:</h4>
                        <p>{{definition.description}}</p>
                        <hr ng-if="definition.description">
                        <h4 ng-if="definition.purpose">Eesmärk:</h4>
                        <p>{{definition.purpose}}</p>
                        <hr ng-if="definition.purpose">
                        <h4 ng-if="definition.owner">Omanik:</h4>
                        <p>{{definition.owner}}</p>
                        <h4 ng-if="definition.publicUrl">Avalik url:</h4>
                        <p ng-if="definition.publicUrl">
                            <a ng-click="$dismiss()" href="{{definition.publicUrl}}">{{definition.publicUrl}}</a>
                        </p>

                        <h4 ng-if="definition.publicUrl && definition.publishedAt">Avalikustatud:</h4>
                        <p ng-if="definition.publicUrl">
                            {{definition.publishedAt | date: 'dd.MM.yyyy H:mm'}}
                        </p>

                        <div class="text-right">
                            <a href="" class="btn btn-primary btn-sm" ng-click="addWorkflow(definition.id)">Lisa töövoog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="" class="btn btn-white btn-sm" ng-click="$dismiss()">Katkesta</a>
</div>
