<div class="modal-header">
    <h4 class="modal-title">{{service.name}} seadistamine</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form name="form" role="form" novalidate>
            <div class="form-group">
                {{service.description}}
            </div>
            <div ng-if="service.serviceParams.length > 0" ng-repeat="param in service.serviceParams" class="form-group">
                <label class="control-label">{{param.description && param.description || param.key }}</label>
                <input ng-if="param.type == 'text'" name="{{param.key}}" type="text" ng-model="serviceParamsValues[param.key]" placeholder="{{param.description}}" class="form-control" ng-disabled="!param.isEditable">
                <select
                        ng-if="param.type == 'select'"
                        name="{{param.key}}"
                        ng-model="serviceParamsValues[param.key]"
                        class="form-control"
                        ng-disabled="!param.isEditable"
                        ng-options="item.value as item.label for item in param.paramOptions" ></select>
            </div>
            <div ng-if="service.serviceParams.length == 0" class="form-group">
                <i>Parameetrid puduvad</i>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$dismiss()">Sulge</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="save()">Salvesta</button>
</div>
