<div kl-breadcrumb></div>

<div ng-if="definition" class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title clear">
                    <h5>{{definition.name}}</h5>
                    <a ng-if="openDefinitionSettingsModal" ng-click="openDefinitionSettingsModal()" class="btn btn-white btn-xs pull-right" href="" title="Muuda sätteid">
                        <i class="fa fa-pencil"></i> Sätted
                    </a>
                </div>
                <div class="ibox-content">
                    <div>
                        <strong>Kirjeldus</strong>
                        <p ng-if="definition.description" class="nl2br">{{definition.description}}</p>
                        <p ng-if="!definition.description">
                            <i>Puudub</i>
                        </p>
                    </div>
                    <div>
                        <strong>Eesmärk</strong>
                        <p ng-if="definition.purpose" class="nl2br">{{definition.purpose}}</p>
                        <p ng-if="!definition.purpose">
                            <i>Puudub</i>
                        </p>
                    </div>
                    <div>
                        <strong>Jagamise staatus</strong>
                        <p>
                            {{definition.accessStatus | translate}}
                        </p>
                    </div>
                    <div ng-if="definition.publicUrl">
                        <strong>Avalik url</strong>
                        <p>
                            <a href="{{ definition.publicUrl }}">{{ definition.publicUrl }}</a>
                        </p>
                    </div>
                    <div>
                        <strong>Loodud</strong>
                        <p>
                            {{definition.createdAt | date: 'dd.MM.yyyy H:mm' }}
                        </p>
                    </div>
                    <div ng-if="definition.publishedAt && definition.accessStatus == 'public'">
                        <strong>Avalikustatud</strong>
                        <p>
                            {{definition.publishedAt | date: 'dd.MM.yyyy H:mm' }}
                        </p>
                    </div>
                    <div>
                        <strong>Omanik</strong>
                        <p>
                            {{getOwner(definition)}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Valitud teenused</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row" style="position:relative; overflow: hidden; min-height: 200px;">

                                <div class="sortable-list selectedServices clearfix">
                                    <div class="col-md-3 col-sm-6 sol-xs-12 not-sortable" ng-repeat="selectedService in definition.definitionServices">
                                        <div class="ibox available-service">
                                            <div class="ibox-title">
                                                <span class="order">
                                                    {{selectedService.orderNum + 1}}.
                                                </span>
                                                <h5 ng-if="selectedService.service.name"> {{selectedService.service.name}}</h5>
                                                <h5 ng-if="!selectedService.service.name" > <strong><i>Teenust ei leitud</i></strong></h5>
                                                <div class="buttons">
                                                    <a ng-if="selectedService.service.id" class="pull-right text-lg icon" ng-click="showServiceInfo( selectedService.service.id )" title="Info" style="margin-right: 5px">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div ng-if="projectId" class="ibox-footer text-right">
                            <a ng-click="editServices()" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Lisa töövoog </a>
                            <a ng-click="addResources()" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Määra sisend </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>