<div kl-breadcrumb></div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button ng-click="refreshList()" type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Uuenda</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input ng-model="pagination.name" type="text" placeholder="Otsi" class="input-sm form-control">
                                <span class="input-group-btn">
                                    <button ng-click="searchWorkflows()" type="button" class="btn btn-sm btn-primary">
                                        Otsi!
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                                <tr dir-paginate="workflow in workflows | filter: searchFilter | itemsPerPage: pagination.perPage" total-items="totalCount" current-page="pagination.page" boundary-links="true">
                                    <td class="project-status">
                                        <span kl-workflow-runtime status="{{workflow.status}}" start="{{workflow.datetimeStart}}" end="{{workflow.datetimeEnd}}"></span>
                                    </td>
                                    <td class="project-title">
                                        <a>{{workflow.name}} {{workflow.id}}</a>
                                        <br/>
                                        <small>Käivitatud {{workflow.datetimeStart | date: 'dd.MM.yyyy H:mm'}}</small>
                                    </td>
                                    <td class="project-completion">
                                        <small>Progress: {{workflow.progress}}%</small>
                                        <div class="progress progress-mini">
                                            <div style="width: {{workflow.progress}}%;" class="progress-bar"></div>
                                        </div>
                                    </td>
                                    <td class="project-people">
                                        {{workflow.user.name}}
                                    </td>
                                    <td class="project-actions">
                                        <a ui-sref="workflow-management-item({workflowId: workflow.id})" class="btn btn-white btn-sm">
                                            <i class="fa fa-folder"></i> Vaata
                                        </a>
                                        <a ng-if="workflow.status == 'RUNNING'" ng-click="cancelWorkflow(workflow)" href="" class="btn btn-danger btn-sm">
                                            <i class="fa fa-stop"></i> Peata
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <dir-pagination-controls on-page-change="changePage(newPageNumber)" template-url="views/templates/pagination.html"></dir-pagination-controls>
                        </div>
                    </div>

                    <div ng-if="!workflows.length || workflows.length == 0">
                        <i>Töövooge ei leitud</i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


