<div class="modal-header">
    <h4 class="modal-title">Teenuse eemaldamine</h4>
</div>
<div class="modal-body">
    <div class="row">
        <p>
            Kas Sa oled kindel, et soovid valitud teenuse töövoost eemaldada?<br />
            Valitud teenuse eemaldamisega eemaldatakse ka teenusele järgnevad teenused.</p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$close()">Katkesta</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="deleteConfirmed()">Eemalda</button>
</div>
