<div class="modal-header">
    <h4 class="modal-title">Töövoo sätted</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form role="form" name="form" novalidate>
            <div ng-class="{'has-error': form.name.$invalid && form.submitted,  'form-group': true}">
                <label class="control-label">Nimetus *</label>
                <input type="text" name="name" ng-model="workflow.name" placeholder="Töövoo nimetus" class="form-control" required="required">
                <i ng-show="form.name.$error.required && form.submitted">Väli on nõutud</i>
            </div>
            <div ng-class="{'has-error': form.description.$invalid && form.submitted,  'form-group': true}">
                <label class="control-label">Kirjeldus</label>
                <textarea name="description" ng-model="workflow.description" placeholder="Töövoo kirjeldus" class="form-control"></textarea>
            </div>
            <div ng-class="{'has-error': form.purpose.$invalid && form.submitted,  'form-group': true}">
                <label class="control-label">Eesmärk</label>
                <textarea name="purpose" ng-model="workflow.purpose" placeholder="Töövoo eesmärk" class="form-control"></textarea>
            </div>

            <div class="form-group clearfix">
                <label>Töövoo definitsiooni privaatsussätted</label>
                <div class="col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" ng-model="workflow.accessStatus" name="accessStatus" value="private"> Privaatne
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="workflow.accessStatus" name="accessStatus" value="public"> Avalik
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="workflow.accessStatus" name="accessStatus" value="shared"> Jagatud
                    </label>
                </div>
            </div>
            <div ng-show="workflow.accessStatus == 'shared'" class="form-group">
                <select
                        multiple
                        chosen
                        class="chosen-select m-t-md"
                        style="width:100%;"
                        tabindex="4"
                        data-placeholder="Vali kasutaja"
                        ng-model="workflow.users"
                        ng-options="user.id as user.name for user in usersList">
                </select>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$dismiss()">Katkesta</button>
    <a kl-save-button
       enabled="{{form.$dirty}}"
       messages="Salvesta:Salvestan:Salvestatud"
       class="btn btn-primary btn-sm"
       ng-click="save(form)"></a>
</div>