<div class="modal-header">
    <h4 class="modal-title">Töövoo sätted</h4>
</div>
<div class="modal-body">
    <div class="row">
        <form role="form" name="form" novalidate>
            <div ng-class="{'has-error': form.name.$invalid && form.submitted,  'form-group': true}">
                <label class="control-label">Nimetus *</label>
                <input type="text" name="name" ng-model="workflow.name" placeholder="Töövoo nimetus" class="form-control" required="required">
                <i ng-show="form.name.$error.required && form.submitted">Väli on nõutud</i>
            </div>
            <div ng-class="{'has-error': form.description.$invalid && form.submitted,  'form-group': true}">
                <label class="control-label">Kirjeldus</label>
                <textarea name="description" ng-model="workflow.description" placeholder="Töövoo kirjeldus" class="form-control"></textarea>
            </div>
            <div ng-class="{'has-error': form.purpose.$invalid && form.submitted,  'form-group': true}">
                <label class="control-label">Eesmärk</label>
                <textarea name="purpose" ng-model="workflow.purpose" placeholder="Töövoo eesmärk" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white btn-sm" ng-click="$dismiss()">Katkesta</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="save( form )">Salvesta</button>
</div>